<.flash_group flash={@flash} />

<div class="w-full h-full flex flex-col justify-center items-center">
  <p class="text-[20px]">Pretty Cool Elixir Phoenix Projects</p>
  <p>Warm ups</p>
  <a class="border border-2-[#808080] p-3 rounded-lg hover:bg-[#808080]" href="/light">
    💡 Light Project
  </a>
</div>
